.testimonial-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 2em;
    max-width: 1440px;
    margin: auto;
}

.testimonial-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.testimonial-header {
    gap: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonial-card>* {
    padding: 10px;
    line-height: 1.5;
}

.testimonial-header .name {
    font-size: 1.2em;
}

.testimonial-card .avatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.testimonial-card .title {
    font-size: 1.7em;
}

.testimonial-card .status {
    color: inherit;
    opacity: 0.5;
}

.testimonial-card .quote {
    font-size: 1.1em;
    color: inherit;
    opacity: 0.7;
}

.testimonial-card .quote::before {
    content: open-quote;
}

.testimonial-card .quote::after {
    content: close-quote;
}

.testimonial-card:nth-of-type(1) {
    background: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    grid-column: span 4;
    background-image: url('https://assets.codepen.io/5126815/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 80% 10%;
}

.testimonial-card:nth-of-type(2) {
    background: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
    grid-column: span 2;
}

.testimonial-card:nth-of-type(3) {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 1px solid var(--raisin-black-1);
    grid-column: span 2;
}

.testimonial-card:nth-of-type(4) {
    background: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    grid-column: span 4;
    background-image: url('https://assets.codepen.io/5126815/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 80% 10%;
}

.testimonial-card:nth-of-type(5) {
    background: hsl(0, 0%, 100%);
    grid-column: 4 / span 2;
}

@media (max-width: 992px) {
    .testimonial-container {
        display: flex;
        flex-direction: column;
    }
}